@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
header {
  background-color: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  color: #424242;
}
.nav-title {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #131313;
}
/* banner styles */
.banner-container {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: var(--dark-01, #131313);
  text-align: center;
  font-family: Work Sans;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 862px;
  color: #131313;
}
.banner-description {
  color: var(--dark-03, #727272);
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 868px;
  margin-bottom: 40px;
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  border: 0;
  width: 180px;
  height: 64px;
  justify-content: center;
}
.banner img {
  margin-top: 40px;
  width: 100%;
}
/* theam styles */

main {
  max-width: 1440px;
  margin: 85px auto;
}
.theams-container {
  display: flex;
  align-items: center;
}
.theams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.theams-content {
  padding-left: 70px;
  padding-right: 70px;
}
.theams-title {
  width: 468px;
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.theams-features {
  color: #ff900e;
  font-family: Work Sans;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#list-title {
  color: #121111;
  font-weight: 700;
}

.facts-box {
  display: flex;
  justify-content: space-around;
  
}

.card-box {
  border-radius: 8px;
  border: 1px solid #ff900e;
  padding: 20px 20px;
 text-align: center;
}

/* media quary */
@media screen and (max-width: 576px) {
  .theams-container {
    flex-direction: column;
  }
  .theams-img-container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
